<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Service Registration Tool</title>

</head>

<body>    

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/srt">
            <img src="{{ url_for('static', filename='img/efpf_no_caption.svg') }}" width="30" height="30"
                class="d-inline-block align-top" alt="" loading="lazy">
            Service Registration Tool
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>
    </nav>
    <div style="padding-top: 2em;"></div>

    {% block content %}

    <script src="{{ url_for('static', filename='scriptIndex.js') }}"></script>

    <div class="container">
        <h3>Welcome, please perform an operation.</h3>
        <br>
        <br>
        <div class="row p-2">
            <div class="col">
                <button id="buttonNew" type="button" class="btn btn-primary" style="width:50%">New service</button>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row p-2">

            <div class="col">
                <button id="buttonLoad" type="button" class="btn btn-primary" style="width:50%">Load service</button>
            </div>
            <div class="col">

                <form id="formLoad">
                    <input type="text" class="form-control" id="service_id_load" placeholder="Id of the service to load">
                </form>
            </div>

        </div>
        <div class="row p-2">
            <div class="col">
                <button id="buttonDelete" type="button" class="btn btn-danger" style="width:50%">Delete
                    service</button>
            </div>
            <div class="col">
                <form id="formDelete">
                    <input type="text" class="form-control" id="service_id_delete" placeholder="Id of the service to delete">
                </form>
            </div>
        </div>
    </div>

    {% endblock %}

</body>

</html>