{% extends "index.html" %}
{% block content %}
<script src="{{ url_for('static', filename='scriptService.js') }}"></script>

<div class="container">
    <form id="formService">
        <h2>Service</h2>
        <div class="row p-2">
            <div class="col">
                <label for="inputServiceID" class="form-label">Service ID</label>
                <input type="text" class="form-control" id="inputServiceID">
            </div>
            <div class="col">
                <label for="inputServiceTitle" class="form-label">Service Title</label>
                <input type="text" class="form-control" id="inputServiceTitle">
            </div>
        </div>
        <div class="row p-2">
            <div class="form-group">
                <label for="inputServiceDescription">Service Description</label>
                <textarea class="form-control" id="inputServiceDescription" rows="3"></textarea>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <label for="inputServiceType" class="form-label">Service Type</label>
                <input type="text" class="form-control" id="inputServiceType">
            </div>
            <div class="col">
                <label for="inputServiceExpiration" class="form-label">Service Expiration</label>
                <select id="inputServiceExpiration" class="form-select" placeholder="Choose one">
                    <option>1 hour</option>
                    <option>1 day</option>
                    <option>1 week</option>
                    <option>1 month</option>
                    <option>1 year</option>
                    <option>Never</option>
                </select>
            </div>
        </div>
        <div class="row p-2 ">
            <div class="col-6">
                <label for="inputServiceDocURL" class="form-label">Service Documentation URL</label>
                <input type="url" class="form-control" id="inputServiceDocURL">
            </div>
            <div class="col-3 text-center">
                <label class="form-label">&#8203;</label> <br>
                <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#modalAddAPI" style="width:75%">
                    Add API
                </button>
            </div>
            <div class="col-3 text-center">
                <label class="form-label">&#8203;</label> <br>
                <button id="buttonSubmitService" type="button" class="btn btn-success" style="width:75%">Submit</button>
            </div>
        </div>

        <div id="api-list-container" style="visibility: hidden;">
            <br>
            <br>
            <h2>API List</h2>
                <table id="table-api-list" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col" style="width:  8.33%"></th>
                            <th scope="col" style="width:  8.33%"></th>
                        </tr>
                    </thead>
                    <tbody id="table-api-list-body">
                    </tbody>
                </table>
        </div>
    </form>
</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="modalAddAPI">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add API</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <form id="formAPI">
                        <div class="row p-2">
                            <div class="col">
                                <label for="inputAPIID" class="form-label">API ID</label>
                                <input type="text" class="form-control" id="inputAPIID">
                            </div>
                            <div class="col">
                                <label for="inputAPITitle" class="form-label">API Title</label>
                                <input type="text" class="form-control" id="inputAPITitle">
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="form-group">
                                <label for="inputAPIDescription">API Description</label>
                                <textarea class="form-control" id="inputAPIDescription" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <label for="inputAPIURL" class="form-label">API URL</label>
                                <input type="text" class="form-control" id="inputAPIURL">
                            </div>
                            <div class="col">
                                <label for="inputAPIProtocol" class="form-label">API Protocol</label>
                                <select id="inputAPIProtocol" class="form-select" placeholder="Choose one">
                                    <option>MQTTS</option>
                                    <option>HTTPS</option>
                                    <option>AMQP</option>
                                </select>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col">
                                <label for="inputAPISpecType" class="form-label">API Spec Type</label>
                                <select id="inputAPISpecType" class="form-select" placeholder="Choose one">
                                    <option>OpenAPI 3.0</option>
                                    <option>AsyncAPI 2.0</option>
                                    <option>None</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="inputAPISpecFormat" class="form-label">API Spec Format</label>
                                <select id="inputAPISpecFormat" class="form-select" placeholder="Choose one">
                                    <option>JSON</option>
                                    <option>YAML</option>
                                    <option>None</option>
                                </select>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="form-group">
                                <label for="inputAPISpec">API Schema</label>
                                <textarea class="form-control" id="inputAPISpec" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="form-group">
                                <label for="inputAPIMeta">API Meta</label>
                                <textarea class="form-control" id="inputAPIMeta" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-6">
                                <label for="inputAPIDocURL" class="form-label">API Documentation URL</label>
                                <input type="url" class="form-control" id="inputAPIDocURL">
                            </div>
                            <div class="col-3">
                                <label class="form-label">&#8203;</label> <br>
                                <button id="buttonSubmitAPI" type="button" class="btn btn-success btn-block" style="width:100%">Add</button>
                            </div>
                            <div class="col-3 ">
                                <label class="form-label">&#8203;</label> <br>
                                <button id="buttonCancelAPI" type="button" class="btn btn-danger btn-block" style="width:100%">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal" id="modalSubmitting">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <!-- <div class="modal-header">
                <h4 class="modal-title">Add API</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div> -->

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="d-flex align-items-center">
                        <strong>Submitting...</strong>
                        <div class="spinner-border ms-auto text-primary" role="status" aria-hidden="true"></div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", function () {
        if ('{{ load }}' == "yes"){
            console.log("Loaded");
            loadService('{{ loadedService|tojson }}');
        } else {
            console.log("Not loaded");
        }
    });
</script>

{% endblock %}