.btn-square-md {
    width: 50px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 30px !important;
    text-align: center;
    padding: 0px;
    font-size:12px;
    }